article, aside, dialog, figure, footer, header,
hgroup, nav, section {
 display:block;
}
body {
 margin:0 auto;
 line-height:1.5;
 max-width:900px;
 font-size:100%;
 font-family:Helvetica,Arial,Tahoma,sans-serif;
}
a {
 color:#333399;
 text-decoration:underline;
}
a:hover, a:active, a:focus {
 text-decoration:none;
 background-color:#333399;
 color:white;
}
strong {
 font-weight:bold;
}
p {
 margin:0.5em 0;
}
h1,h2 {
 font-family:Georgia,"Times New Roman",Times,serif;
 font-weight:normal;
}
h1,h2,h3 {
 margin:0;
 font-size:100%;
}
h1 {
 font-size:40px;
 margin:0;
 background-image:url('loch-fyne.jpg');
 height:84px;
 padding:120px 0 0 20px;
 color:white;
 border-bottom:10px solid #333;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
}
section {
 margin:0.5em 0;
}
section > div {
 display:none;
 color:white;
 overflow:hidden;
 background-color:#333;
 border-bottom-left-radius:20px;
 border-bottom-right-radius:20px;
}
section > div a {
 color:white;
}
section > div p,section > div ul,section > div h3 {
 margin:1em;
}
h2 a {
 font-size:1.5em;
 border:3px solid #333;
 border-radius:20px;
 display:block;
 background-color:#333;
 color:white;
 padding:1em;
}
.open h2 a {
 border-bottom-left-radius:0;
 border-bottom-right-radius:0;
 border-bottom:1px solid white;
}
#bmap {
 position:relative; width:100%; height:300px;
}
